---
layout: default
title: 分类
---
<div class="article">
    <h1 class="title">{{ page.title }}</h1>

    {% assign categories_list = site.categories %}

    {% for category in categories_list %}
        <a href="#{{ category[0] }}-ref" style="background:#F2EEEC; padding:10px; margin:3px 0">
            {{ category[0] | join: "/" }}
        </a>
    {% endfor %}

<br><br>

<div class="article">
{% for category in site.categories %} 
  <h2  class="article-year" id="{{ category[0] }}-ref" data-year="&diams;">{{ category[0] | join: "/" }}</h2>
  <ul style="list-style: none">
    {% assign pages_list = category[1] %}  
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if group == null or group == node.group %}
            <li style="background:#F2EEEC; padding:5px; margin:3px 0">
                {{node.date | date: "%Y-%m-%d"}}&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ site.baseurl }}{{node.url}}">{{node.title}}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
   
  </ul>
{% endfor %}
</div>
</div>
